<div class="p-menu w-full">
    <div class="text-xl p-2 flex flex-row align-items-center justify-content-between">
        <div>
            <b>Calendriers</b>
        </div>
        <div>
            <button pButton pRipple type="button" icon="fa-solid fa-plus" class="p-button-secondary p-button-text"
                (click)="mainSidebarService.closeSidebarIfMobile();createNewSourceEvents()"></button>
        </div>
    </div>
    <div class="p-menu w-full">
        <ul class="p-menu-list">
            <li class="pl-2 w-full" *ngIf="!eventSources || eventSources.length == 0"> Aucun calendrier</li>
            <li *ngFor="let source of eventSources"
                class="w-full flex flex-row align-items-center justify-content-between">
                <div class="p-menuitem-link w-full flex flex-row align-items-center" [routerLink]="source.routerLink"
                    [routerLinkActive]="'p-menuitem-link-active'" (click)="mainSidebarService.closeSidebarIfMobile()">
                    <!--<p-toggleButton [(ngModel)]="source.visible" [onIcon]="'pi pi-eye'" [offIcon]="'pi pi-eye-slash'"
                        [ngStyle]="{'background-color': source.color}" (click)="toggleSource(source)"></p-toggleButton>-->
                    <div class="w-1rem h-1rem color-checker border-1" [ngStyle]="{'background-color': source.color}">
                    </div>
                    <div class="text-overflow-ellipsis white-space-nowrap overflow-hidden calendarName ml-2">
                        {{ source.name}}
                    </div>
                </div>
                <div class="flex flex-row">
                    <button type="button" pButton icon="pi pi-pencil" class="p-button-secondary p-button-text"
                        (click)="mainSidebarService.closeSidebarIfMobile(); editSource(source)"></button>
                </div>
            </li>
        </ul>
    </div>
</div>