<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6">
            <p-card class="h-full w-full">
                <div class="text-center mb-5">
                    <span class="text-4xl">Connexion</span>
                </div>
                <form [formGroup]="formForgetPassword" (ngSubmit)="onSubmit()" class="w-full md:w-10 mx-auto">
                    <label for="email" class="block text-900 text-xl font-medium mb-2">Adresse email</label>
                    <input id="email" formControlName="email" type="email" placeholder="Adresse email" pInputText
                        class="w-full mb-3">

                    <div class="flex align-items-center justify-content-between mb-5">
                        <a class="font-medium no-underline cursor-pointer" style="color: var(--primary-color)"
                            [routerLink]="['../login']">Retour à la page de connexion</a>
                    </div>
                    <button pButton pRipple label="Demande de nouveau mot de passe" class="w-full p-3 text-xl"
                        type="submit"></button>
                </form>
            </p-card>
        </div>
    </div>
</div>