<form [formGroup]="formUser" (ngSubmit)="onSubmit()" class="p-fluid grid">
    <div class="col-12 flex justify-content-between mb-3">
        <div>
            <b class="text-4xl" *ngIf="user">{{ user.username }}</b>
            <br />
            <i class="text-sm" *ngIf="user">{{ user.email }}</i>
        </div>
        <div>
            <p-button label="Enregister" [loading]="loadingSave" styleClass="p-button-sm" type="submit"></p-button>
        </div>
    </div>
    <div class="col-12 lg:col-9">
        <p-card header="Informations">
            <ng-template pTemplate="body">
                <div class="p-fluid grid">
                    <ng-container *ngIf="type == 'add'">
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <input id="username" formControlName="username" type="text" pInputText class="w-full"
                                    dFormValidation>
                                <label for="username">username</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <input id="email" formControlName="email" type="email" pInputText class="w-full"
                                    dFormValidation>
                                <label for="email">Email</label>
                            </span>
                        </div>
                    </ng-container>
                    <ng-container [formGroup]="userExtendedGroup">
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <input id="firstName" formControlName="firstName" type="text" pInputText class="w-full"
                                    dFormValidation>
                                <label for="firstName">Prénom</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <input id="lastName" formControlName="lastName" type="text" pInputText class="w-full"
                                    dFormValidation>
                                <label for="lastName">Nom</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <p-dropdown [options]="countries" formControlName="country" optionLabel="name"
                                    (onChange)="changeCountry($event.value)" placeholder="Pays" [showClear]="true"
                                    [virtualScroll]="true" [virtualScrollItemSize]="40" [filter]="true">
                                </p-dropdown>
                                <label for="country">Pays</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <p-dropdown [options]="cities" formControlName="city" optionLabel="name"
                                    placeholder="Ville" [showClear]="true" [virtualScroll]="true"
                                    [virtualScrollItemSize]="40" [filter]="true">
                                </p-dropdown>
                                <label for="city">Ville</label>
                            </span>
                        </div>
                    </ng-container>
                    <div class="field col-12 md:col-6" *ngIf="!user">
                        <span class="p-float-label">
                            <input id="password" formControlName="password" type="password" pInputText class="w-full"
                                dFormValidation>
                            <label for="password">Mot de passe</label>
                        </span>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="col-12 lg:col-3">
        <p-card header="Groupes">
            <p-listbox [options]="groups" formControlName="user_groups" [metaKeySelection]="false" [checkbox]="true"
                [filter]="true" [multiple]="true" optionLabel="name"
                [listStyle]="{'height': '100%', 'max-height': '225px'}">
                <ng-template let-group pTemplate="item">
                    <div>{{group.name}}</div>
                </ng-template>
            </p-listbox>
        </p-card>
    </div>
</form>