<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6">
            <p-card class="h-full w-full">
                <ng-template pTemplate="title">
                    Installation
                </ng-template>
                <ng-template pTemplate="subtitle">
                    Quelques réglages avant de commencer.
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-end">
                        <button pButton pRipple label="Commencer" (click)="start()"></button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>