<div class="h-full flex flex-column align-items-center justify-content-between">
    <div class="w-full mb-1">
        <div class="w-full flex flex-row align-items-center mb-2 sticky top-0 header">
            <ng-container *ngIf="defaultConfigService.defaultConfig?.logo; else defaultLogoTitle">
                <img *ngIf="defaultConfigService.defaultConfig.logo" class="logo mr-1"
                    [src]="apiUrl + defaultConfigService.defaultConfig.logo.url" />
            </ng-container>
            <ng-template #defaultLogoTitle>
                <div [inlineSVG]="'/assets/icons/logo.svg'" class="logo" class="logo"></div>
            </ng-template>
            <span class="ml-3">{{ defaultConfigService.defaultConfig?.society || 'EasyGroupware' }}</span>
        </div>
        <div class="w-full" *ngIf="applicationsService.currentApp">
            <ng-container *ngIf="applicationsService.currentApp;">
                <div *ngFor="let app of applicationsService.applicationsTab"
                    [ngClass]="{'hidden' :app.uid !== applicationsService.currentApp.uid}">
                    <named-outlet *ngIf="app.routeSidebar?.outlet" [name]="app.routeSidebar?.outlet"></named-outlet>
                </div>
            </ng-container>
        </div>
    </div>
    <app-applications *ngIf="authentificationService.connectedUser.user_settings.applicationsPlace == 'sidebar'"
        class="w-full" (click)="mainSidebarService.closeSidebarIfMobile()"></app-applications>
</div>