<div class="loader">
    <div class="title text-center">
        <span>Chargement</span>
        <p *ngIf="isDemo">Le chargement de cette démo peut être long dû au démarrage des dynos</p>
    </div>
    <div class="boxes">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>